/* * : 전체 선택자 */
* {
  margin: 0;
  padding: 0;
}

.content {
  width: 1440px;
  height: 500px;
  border: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
}
.content .box {
  /* 이미지 크기 */
  width: 280px;
  height: 480px;
  float: left;
  margin-right: 10px;
}
.content .box5 {
  margin-right: 0;
}
/* .content > div:nth-child(5) */
.imgbox img {
  display: block;
  width: 100%;
}
.imgbox img:nth-child(1) {
  display: block;
}
.imgbox img:nth-child(2) {
  display: none;
}
.imgbox:hover img:nth-child(1) {
  display: none;
}
.imgbox:hover img:nth-child(2) {
  display: block;
}
.box p {
  padding-top: 7px;
}
.box .txt1 {
  font-weight: bold;
}
.box .txt2 .t1 {
  color: palevioletred;
}
.txt2 del {
  font-size: 12px;
  color: #999;
}
.txt4 {
  font-size: 13px;
}
.txt4 .tt1 {
  font-weight: bold;
}
.txt4 .tt2 {
  color: #777;
}
